.DeleteButton {
  padding: 20px 0;
  margin: 4px 12px;
  display: flex;
  align-content: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 200ms ease;

  .DeleteButton__inner {
    outline: none;
    border: none;
    background-color: #e24141;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    padding: 12px;
  }
}