.ListItem {
  display: flex;
  border-bottom: 1px solid #afafaf;
  margin: 6px 0;
  justify-content: flex-start;
  padding: 0 20px;

  &:hover {
    border-color: #7f7f7f;
  }

  .ListItem__checkbox, .ListItem__text {
    padding: 20px 0;
  }

  .ListItem__checkbox {
    min-width: 72px;
    cursor: pointer;
  }

  .ListItem__text {
    flex: 1;
    overflow: scroll;
    margin: 12px 0;
  }

}