@import "../../mixins";

.CheckAllToggle {
  grid-column: 1 / 5;
  @include gridLayout();
  margin: 12px 0;

  .Checkbox {
    grid-column: 2 / 3;
  }

  .CheckAllToggle__textLabel {
    grid-column: 3 / 4;
    //text-decoration: ;
  }
}